[Unit]
Description=ATGCFLOW ngrok Tunnel Service
After=network.target

[Service]
Type=simple
User=%USER%
WorkingDirectory=/media/drprabudh/m3/Nextflow-Script/WholeExome/backend

# Start ngrok
ExecStart=/usr/local/bin/ngrok http 8000
Restart=always
RestartSec=10

# Logging
StandardOutput=append:/media/drprabudh/m3/Nextflow-Script/WholeExome/backend/logs/ngrok.log
StandardError=append:/media/drprabudh/m3/Nextflow-Script/WholeExome/backend/logs/ngrok-error.log

[Install]
WantedBy=multi-user.target
